:root {
	--dark: #434343;
	--red: #E9292B;
	--white: #fff;
	--gray: #D5D5D5;
	--light: #f8f9fa;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1320px;
}

*,
::after,
::before {
	box-sizing: border-box
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent
}

@-ms-viewport {
	width: device-width
}
body {
	margin: 0;
	font-size: 16px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit
}

dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0
}

dt {
	font-weight: 700
}

dd {
	margin-bottom: .5rem;
	margin-left: 0
}

blockquote {
	margin: 0 0 1rem
}

dfn {
	font-style: italic
}

b,
strong {
	font-weight: bolder
}

small {
	font-size: 80%
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

a {
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none
}

a:not([href]):not([tabindex]):focus {
	outline: 0
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar
}

figure {
	margin: 0 0 1rem
}

img {
	vertical-align: middle;
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

table {
	border-collapse: collapse
}

caption {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom
}

th {
	text-align: inherit
}

label {
	display: inline-block;
	margin-bottom: .5rem
}

button {
	border-radius: 0
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}
.container{
	max-width: 1320px;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}
/*text*/
h1{
	font-size: 4em;
	font-family: 'Geometria';
	font-weight: 800;
}
p{
	font-size: 1em;
	font-family: 'Geometria';
	font-weight: 500;
}
h3{
	font-size: 2em;
	font-family: 'Geometria';
	font-weight: 500;
}
h2{
	font-size: 3em;
}
h4{
	font-size: 2.5em;
}
/*text-end*/
/* header */
.header{
	background-color: rgba(67, 67, 67,0.47);
	color: #fff;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;

}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 85px;
}
.navbar__left{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
.navbar__right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
}
.navbar__left__logo{
	width: 290px;
	height: 65px;
	background-color: #D5D5D5;
}
/* header-end*/

/* hero-end*/
.hero{
	height: 100vh;
	width: 100%;
	background-image: url('../img/hero_bg.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
}
.row__v{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;;
	flex-direction: column;
}

.hero__tiitle{
	margin-bottom: 28px;
	line-height: 0.8;
}
.hero__descr{
	margin-top: 0;
	margin-bottom: 30px;
	max-width: 300px;
}
.hero__sub{
	margin: 0;
	margin-bottom: -5px;
}
.color__dark{
	background-color: #434343;
}
.color__red{
	background-color: #E9292B;
}
.hero__butions{
	display: flex;
	z-index: 4;
}
@media(max-width:420px){
	.hero__butions{
		flex-direction: column;

	}
}
.hero__butions__bution{
	width: 170px;
	height: 39px;
	position: relative;
	transition: 350ms ease-in-out;
}
@media(max-width:420px){
	.hero__butions__bution{
		width: 90vw;
		height: 39px;
		position: relative;
		transition: 350ms ease-in-out;
	}
}
.hero__butions__bution__link{
	font-family: 'Geometria';
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	min-width: 170px;
	height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 450ms;
}
.hero__butions__bution__link:hover{
transform: translate(4px,4px);
}
.hero__butions__bution__after{
	position: absolute;
	top: 4px;
	left:4px;
	background-color: #D5D5D5;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.hero__butions__bution:last-child{
margin-left: 30px;
}
@media(max-width:420px){
	.hero__butions__bution:last-child{
		margin-left: 0px;
		margin-top: 15px;
		}
}
/* hero-end*/

/*comingfilms*/

/*comingfilms-end*/